@use 'sass:color';

// Adwaita colors from https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/css-variables.html
$headerbar-bg-color: #ffffff !default;
$headerbar-fg-color: rgb(0 0 6 / 80%) !default;
$headerbar-shade-color: rgb(0 0 6 / 12%) !default;
$warning-bg-color: #e5a50a !default;
$warning-fg-color: rgb(0 0 0 / 80%) !default;

$active-tab-bg-color: rgba(0, 0, 0, .09) !default;

.shatter-shell-active-hint {
    border-style: solid;
    border-color: var(--accent-color, #3584e4);
    border-width: 3px;
    border-radius: var(--active-hint-border-radius, 15px);
    box-shadow: inset 0 0 0 1px $headerbar-shade-color;
}

.shatter-shell-overlay {
    background: rgb(from var(--accent-color, #3584e4) r g b / 0.3);
}

.shatter-shell-search-element:select {
    background: $active-tab-bg-color;
    color: $headerbar-fg-color;
    border-radius: 5px;
}

.shatter-shell-search-icon {
    margin-right: 10px;
}

.shatter-shell-search-cat {
    margin-right: 10px;
}

.shatter-shell-search-element {
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.shatter-shell-stack {
    background: $headerbar-bg-color;
    color: $headerbar-fg-color;
    border-radius: 9px;
}

.shatter-shell-tab {
    border-radius: 8px;
    margin: 3px;
}

.shatter-shell-tab:hover {
    background: color.scale($active-tab-bg-color, $alpha: -50%);
}

.shatter-shell-tab-active {
    background: $active-tab-bg-color;
}

.shatter-shell-tab-active:hover {
    background: color.scale($active-tab-bg-color, $alpha: +2%);
}

.shatter-shell-tab-urgent {
    background: $warning-bg-color;
    color: $warning-fg-color;
}

.shatter-shell-window-close {
    padding: 4px;
    margin: 4px;
    border-radius: 100px;
}

.shatter-shell-window-close:hover {
    background: color.scale($active-tab-bg-color, $alpha: -50%);
}
