@use "_base" with ($headerbar-bg-color: white,
    $headerbar-fg-color: black,
    $warning-fg-color: black,
    $active-tab-bg-color: rgba(0, 0, 0, .2),
);

.shatter-shell-entry:indeterminate {
    font-style: italic;
}

.shatter-shell-tab {
    border: 1px solid;
}

.shatter-shell-tab:checked .shatter-shell-tab-inner {
    background: black;
    color: white;
}

.shatter-shell-tab:checked:hover .shatter-shell-tab-inner {
    background: #666;
}
