Source: shatter-shell
Section: gnome
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends: debhelper-compat (=10), libglib2.0-bin, node-typescript
Standards-Version: 3.9.8
Homepage: https://github.com/adil192/shatter-shell
Vcs-Git: https://github.com/adil192/shatter-shell

Package: shatter-shell
Architecture: all
Depends:
    ${misc:Depends},
    pop-launcher,
    shatter-shell-shortcuts,
    fd-find
Replaces: gnome-control-center-data (<< 1:3.38.1-2ubuntu1pop1~)
Replaces: pop-shell
Breaks: gnome-control-center-data (<< 1:3.38.1-2ubuntu1pop1~)
Break: pop-shell
Description: Shatter Shell
